doctype html
html
    head
        title GradChef Mafia
        link(ref='shortcut icon', type='image/png', href='/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(charset='utf-8')
        style(type='text/css').
            body {
                font-family: apple-system, PingFang SC, Microsoft YaHei, sans-serif;
                font-size: 16px;
            }
            .container {
                width: 800px;
                max-width: 100%;
                margin: 50px auto;
            }
            section {
                margin-bottom: 50px;
            }
            article {
                margin-bottom: 20px;
            }
            .secondary {
                color: #777;
                font-size: 12px;
                margin-bottom: 5px;
            }
            .content {
                line-height: 1.7em;
            }
            .content img {
                max-width: 100%;
            }
            .now {
                color: #777;
                margin-left: 5px;
                font-size: 12px;
            }
            a {
                color: #e74c3c;
            }
            .text-red {
                color: #e74c3c;
            }
            .logo {
                max-height: 30px;
                margin-right: 5px;
            }
            .footer {
                padding: 523px 0 30px;
                text-align: center;
                background-image: url(images/us.jpg);
                background-size: cover;
                background-position: center;
                color: #fff;
                text-shadow: 1px 1px 3px #333;
            }
            .footer .secondary {
                color: rgba(255, 255, 255, .8);
            }
            .us {
                margin-top: 10px;
                width: 70%;
                background
            }
            @media (max-width: 600px) {
                .footer {
                    padding-top: 200px;
                    padding-bottom: 10px;
                }
            }
    body
        .container
            section
                h1 GradChef
                article
                    .secondary 2013 年 5 月 1 日
                    .content 我和 
                        span.text-red Ruoyu
                        |  讨论了一个关于留学数据的项目，并邀请他来帮忙。
                article
                    .secondary 2013 年 5 月 11 日
                    .content 和 
                        span.text-red Rui
                        |  在 iSquare 聊了一次，决定一起来搞。
                article
                    .secondary 2013 年 5 月 12 日
                    .content 在 Bitbucket 上，我们有了第一个 
                        a(href='https://bitbucket.org/kalasoo/gradchef/commits/d82fce263a5663113253ac51f903cfa45a2a2eb0') Commit
                        |  ！
                article
                    .secondary 2013 年 9 月 1 日
                    .content
                        span.text-red Qiaomu
                        |  加入我们，为这个程序员的团队加入了一点人文气息。
                article
                    .secondary 2013 年 11 月 11 日
                    .content
                        span.text-red GradChef
                        |  初版上线，有那么一点小激动，不过更多地是对于产品发展的担忧。
                article
                    .secondary 2013 年 11 月 20 日
                    .content 高富帅 
                        span.text-red Jing
                        |  加入了，有了他很多运营宣传的麻烦事情有了帮手。
                article
                    .secondary 2014 年 4 月 1 日
                    .content 我们用非常辛苦、复杂的方式积累着申请数据，这一天，我们有了第 
                        span.text-red 10000
                        |  个！
                article
                    .secondary 2014 年 9 月 26 日
                    .content 我们决定结束 
                        span.text-red GradChef
                        |  的后续开发。
                article
                    .secondary 2014 年 11 月 20 日
                    .content 决定出售给 
                        span.text-red 新通教育
                        |  。

            section
                h1 Partners
                article
                    .secondary Product / Frontend / Data Analysis
                    .content 阴明 Ming Yin
                        span.now Founder & CXO @ 
                            a(target='_blank', href='https://xitu.io') 稀土
                article
                    .secondary Design / Frontend / Backend
                    .content 孙若愚 Ruoyu Sun
                        span.now Co-Founder & CTO @ 
                            a(target='_blank', href='https://alpha.huaxing.com/') 华兴 Alpha
                article
                    .secondary Backend / Data Analysis
                    .content 杨瑞 Rui Yang
                        span.now Co-Founder & CTO @ 
                            a(target='_blank', href='https://tshe.me/') T社
                article
                    .secondary Data Fetching / Marketing
                    .content 赖乔木 Qiaomu Lai
                article
                    .secondary Branding / Business Development
                    .content 肖璟 Jing
                        span.now
                            a(target='_blank', href='https://www.xiaoying.com/') 小赢理财

            section
                h1 Press Kit
                article
                    .secondary Favicon
                    .content
                        img(src='images/favicon.png')
                article
                    .secondary Avatar
                    .content
                        img.logo(src='images/avatar.png')
                article
                    .secondary Logos
                    .content
                        img.logo(src='images/logo_ls.png')
                        img.logo(src='images/logo_red.png')
                        img.logo(src='images/logo_transparent.png', style='background: #f1f1f1;')
                        img.logo(src='images/logo_with_url.png')
                article
                    .secondary Banners
                    .content
                        img(src='images/about_banner.jpg')
                    .content
                        img(src='images/offer_airmail.png')
                    .content
                        img(src='images/offer_report.png')
                    .content
                        img(src='images/apps.png')
                    .content
                        img(src='images/sca5.png')

            section
                article.footer 做自己爱做的事情，并把它做到最好
                    .secondary 2015 年 5 月 24 日
